* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

user agent stylesheet
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
main {
    padding: 1rem;
    background-color: #fff;
    color: #333;
    width: fit-content;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

th, td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
}